{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block content %}

<!-- Breadcrumb Start -->
<section class="iq-breadcrumb text-left">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-8 text-left mb-4 mb-lg-0 align-self-center">
            <h2 class="title">About Us</h2>
         </div>
         <div class="col-lg-4 col-md-4 text-right">
            <img  src="{% static 'images/about/02.png' %}" class="img-fluid" alt="#"/>
         </div>
      </div>
   </div>
</section>
<!-- Breadcrumb End -->
<!-- Main-Content Start -->
<div class="main-content">
   <section class="iq-project">
      <div class="container">
         <div class="col-lg-8 gray-bg border-bottom mb-2">
            <h3>About Us - SkeyeTech</h3>
            <p>
            Welcome to SkeyeTech, where innovation meets excellence in the realm of technology solutions. At SkeyeTech, we are more than an IT firm – we are architects of digital transformation, dedicated to empowering businesses and individuals with cutting-edge solutions.
            </p>
         </div>
            <div class="row">
               <div class="col-lg-5 gray-bg mx-1">
                  <h3>Our Vision:</h3> 
                  <p>Fuelled by a vision to redefine the technological landscape, we aim to be the catalysts for positive change. Through our expertise, we strive to bridge the gap between ideas and reality, providing comprehensive, tailor-made solutions that propel our clients toward success.</p>

               </div>
               <div class="col-lg-6 gray-bg ">
                  <h3>Our Approach:</h3>
                  <p>
                  SkeyeTech is built on a foundation of collaboration, creativity, and client-centricity. We believe in understanding the unique needs of each client, fostering open communication, and applying innovative thinking to every project. Our holistic approach ensures that we not only meet but exceed expectations.</p>
               </div>
            </div>  
         
      </div>
   </section>
   <!-- Project Start -->
   <section class="iq-project">
      <div class="container gray-bg">
         <div class="row align-items-center">
            <div class="col-lg-6 text-center">
               <img src="{% static 'images/planning.jpg' %}" class="img-fluid" alt="#">
               <div class="iq-objects-style-1">
                  <span class="iq-objects-01" data-bottom="transform:translatey(-50px)" data-top="transform:translatey(-50px);">
                     <img src="{% static 'images/effect/dotted-pattern-black.png' %}" alt="drive02">
                  </span>
                  <span class="iq-objects-02" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
                     <img src="{% static 'images/effect/dotted-pattern-black.png' %}" alt="drive02">
                  </span>
                  <span class="iq-objects-03" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                     <img src="{% static 'images/effect/dotted-pattern-black.png' %}" alt="drive02">
                  </span>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="title-box text-left">
                  <span class="text-warning">Customize services</span>
                  <h2 class="title">Project Planning</h2>
                  <p class="mb-0">Navigate the complexities of project execution seamlessly with SkyeTech's expert Project Planning services.</p>
               </div>
               <ul class="iq-list">
                  <li><i class="ion ion-checkmark-circled"></i><span>Strategic Roadmap: Leverage our expertise to create a detailed project roadmap, guiding you through every phase and milestone, ensuring a clear and effective execution strategy.</span></li>
                  <li><i class="ion ion-checkmark-circled"></i><span>Optimized Resource Allocation: Benefit from our advanced resource management techniques, ensuring optimal allocation of resources to maximize efficiency and minimize project timelines.</span></li>
                  <li><i class="ion ion-checkmark-circled"></i><span>Risk Mitigation: SkyeTech employs proactive risk assessment and mitigation strategies, identifying potential challenges early on and implementing measures to keep your project on track and within scope.</span></li>
               </ul>
               <a class="button " href="#">Read More</a>
            </div>
         </div>
      </div>
      <div class="scrolling-text top right default">
         <div data-bottom="transform:translatex(300px)" data-top="transform:translatex(0);">Integrated Services</div>
      </div>
   </section>
   <!-- Project End -->
   <!-- Progress Bar Start -->
    
   <section class="iq-progress">
      <div class="container">
         <div class="row flex-row-reverse">
            <div class="col-lg-6 text-center">
               <img src="{% static 'images/choose-us/01.png' %}" class="img-fluid w-75" alt="fancybox">
               <div class="iq-objects-style-2 right">
                  <span class="iq-objects-01" data-bottom="transform:translatey(-50px)" data-top="transform:translatey(-50px);">
                     <img src="{% static 'images/effect/01.jpg' %}" alt="drive02">
                  </span>
                  <span class="iq-objects-02" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
                     <img src="{% static 'images/effect/02.jpg' %}" alt="drive02">
                  </span>
                  <span class="iq-objects-03" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                     <img src="{% static 'images/effect/03.jpg' %}" alt="drive02">
                  </span>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="title-box text-left">
                  <span class="text-warning">Together we succeed!</span>
                  <h2 class="title">Why You Will Choose Us?</h2>
                  <p class="mb-0">Our strategic approach ensures meticulous planning, efficient resource allocation, and successful project outcomes.</p>
               </div>
               <div class="iq-services-box text-left">
                  <div class="services-content">
                     <h6>User Interface</h6>
                     <span class="progress-value">90%</span>
                     <div class="iq-progress-bar">
                        <span data-percent="90"></span>
                     </div>
                  </div>
                  <div class="services-content">
                     <h6>Memory Usage</h6>
                     <span class="progress-value">95%</span>
                     <div class="iq-progress-bar">
                        <span data-percent="95"></span>
                     </div>
                  </div>
                  <div class="services-content">
                     <h6>App Development</h6>
                     <span class="progress-value">75%</span>
                     <div class="iq-progress-bar">
                        <span data-percent="75"></span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="scrolling-text top left default">
         <div data-bottom="transform:translatex(-300px)" data-top="transform:translatex(0);">Custom Tailored Solutions</div>
      </div>
   </section>
   <!-- Progress Bar End -->
   <!-- Client Testimonial start -->
   <section id="our-clients" class=" overview-block-ptb our-clients gray-bg">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="title-box text-center">
                  <span class="text-warning">From our clients</span>
                  <h2 class="title">Client Testimonials</h2>
               </div>
            </div>
         </div>
         <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8">
               <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="15">
                  <div class="item">
                     <div class="iq-client">
                        <div class="client-img">
                           <img alt="#" class="img-fluid rounded-circle" src="{% static 'images/testimonial/01.jpg' %}">
                        </div>
                        <p> "SkyeTech made our vision a reality! The team's dedication and clear communication made the entire process a breeze. Our project turned out better than we could have imagined. Thank you, SkyeTech!" </p>
                        <div class="client-info">
                           <div class="client-name">
                              <h5>Richardson</h5>
                              <span class="sub-title">Developer, Bizbag</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="iq-client">
                        <div class="client-img">
                           <img alt="#" class="img-fluid rounded-circle" src="{% static 'images/testimonial/02.jpg' %}">
                        </div>
                        <p> "Working with SkyeTech was a game-changer for our business. They understood our needs, provided practical solutions, and delivered results on time. Their customer-centric approach truly sets them apart. Highly recommend!" </p>
                        <div class="client-info">
                           <div class="client-name">
                              <h5>Morales</h5>
                              <span class="sub-title">Designer, CEO of SuperMart</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="iq-client">
                        <div class="client-img">
                           <img alt="#" class="img-fluid rounded-circle" src="{% static 'images/testimonial/03.jpg' %}">
                        </div>
                        <p>"SkyeTech exceeded our expectations! From the initial consultation to the final delivery, the team was responsive and attentive. They took the time to understand our goals, and the outcome speaks for itself. A fantastic partner for any project."</p>
                        <div class="client-info">
                           <div class="client-name">
                              <h5>Kelly</h5>
                              <span class="sub-title">Designer, Co-Founder of Biz Bag</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="scrolling-text top left white">
         <div data-bottom="transform:translatex(300px)" data-top="transform:translatex(0);">Services Speak Itself</div>
      </div>
   </section>
   <!--Client Testimonial end -->
   <!-- Our Team start -->
   <section id="our-team" class="our-team">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="title-box text-center">
                  <span class="text-warning">Work with us</span>
                  <h2 class="title">Meet The Team</h2>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12 col-md-12">
               <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="4" data-items-laptop="4" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="15">
                  {% for member in team %}
                  <div class="item">
                     <div class="iq-team">
                        <div class="iq-team-img">
                           <img src="{{member.image.url}}" class="img-fluid center-block" alt="{{member.name}}">
                           <div class="share">
                              <ul>
                                 {% for url in member.get_urls %}
                                 <li><a href="{{url.url}}"><i class="{{url.title}}"></i></a></li>
                                 {% endfor %}
                              </ul>
                           </div>
                        </div>
                        <div class="iq-team-info text-center">
                           <a href="{{member.get_absolute_url}}"><h5>{{member.name}}</h5></a>
                           <span class="team-post">{{member.role}}</span>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <div class="scrolling-text top right default">
         <div data-bottom="transform:translatex(300px)" data-top="transform:translatex(0);">Dynamic minds</div>
      </div>
   </section>
   
   <!-- Our Team  end -->
   <!-- Our Clients -->
   
   <section id="our-clients" class="our-clients">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="title-box text-center">
                  <span class="text-warning">They Trust Us</span>
                  <h2 class="title">our clients</h2>
                  <p class="mb-0">Simply dummy has been the industry's standard dummy text.</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12 col-md-12">
               <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="4" data-items-laptop="3" data-items-tab="3" data-items-mobile="2" data-items-mobile-sm="1" data-margin="15">
                  <div class="item">
                     <div class="clients-box">
                        <img class="img-fluid client-img" src="{% static 'images/clients/01.png' %}" alt="#">
                     </div>
                  </div>
                  <div class="item">
                     <div class="clients-box">
                        <img class="img-fluid client-img" src="{% static 'images/clients/02.png' %}" alt="#">
                     </div>
                  </div>
                  <div class="item">
                     <div class="clients-box">
                        <img class="img-fluid client-img" src="{% static 'images/clients/03.png' %}" alt="#">
                     </div>
                  </div>
                  <div class="item">
                     <div class="clients-box">
                        <img class="img-fluid client-img" src="{% static 'images/clients/04.png' %}" alt="#">
                     </div>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Our Clients End-->
   {% include 'components/newsletter.html' %}
</div>
<!-- Main-Content End -->
{% endblock %}