{% extends "base.html" %}
{% load static %}
{% block title %}Pricing{% endblock %}
{% block content %}
<!-- Breadcrumb Start -->
<section class="iq-breadcrumb text-left">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-8 text-left mb-4 mb-lg-0 align-self-center">
            <h2 class="title">Pricing Plan</h2>
         </div>
         <div class="col-lg-4 col-md-4 text-right">
            <img  src="{% static 'images/about/09.png' %}" class="img-fluid" alt="#"/>
         </div>
      </div>
   </div>
</section>
<!-- Breadcrumb End -->
<!-- Main-Content Start -->
<div class="main-content">
   <!-- Pricing Plan Start  -->
   <section class="overview-block-ptb gray-bg">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12">
               <div class="title-box  text-center">
                  <span class="text-warning">Get Idea About</span>
                  <h2 class="title">Our Pricing Plan</h2>
                  <p class="mb-0">It is a long established fact that a reader will be distracted</p>
               </div>
            </div>
         </div>
         <div class="row mt-5">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 mb-md-0">
               <div class="iq-pricing-table text-center ">
                  <div class="priceing-heading ">
                     <h4 class="title mb-3">Personal</h4>
                     <h2>19$<span>/ Per Month</span></h2>
                  </div>
                  <ul class="pricing-list">
                     <li>Ut eu lectus consequat.</li>
                     <li>Aenean a neque.</li>
                     <li class="pricing-features-item disable">
                        Aenean lacinia porttitor.
                     </li>
                     <li class="pricing-features-item disable">
                        Unknown printer took
                     </li>
                     <li class="pricing-features-item disable">
                        Embarrassing hidden
                     </li>
                  </ul>
                  <a class="button" href="#" role="button">Choose Plan</a>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 mb-md-0">
               <div class="active">
                  <div class="iq-pricing-table text-center ">
                     <div class="priceing-heading ">
                        <h4 class="title mb-3">Business</h4>
                        <h2>19$<span>/ Per Month</span></h2>
                     </div>
                     <ul class="pricing-list">
                        <li>Ut eu lectus consequat.</li>
                        <li>Aenean a neque.</li>
                        <li class="pricing-features-item disable">
                           Aenean lacinia porttitor.
                        </li>
                        <li class="pricing-features-item disable">
                           Unknown printer took
                        </li>
                        <li class="pricing-features-item disable">
                           Embarrassing hidden
                        </li>
                     </ul>
                     <a class="button" href="#" role="button">Choose Plan</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-lg-0 mb-md-0 iq-rmt-80">
               <div class="iq-pricing-table text-center">
                  <div class="priceing-heading ">
                     <h4 class="title mb-3">Enterprice</h4>
                     <h2>19$<span>/ Per Month</span></h2>
                  </div>
                  <ul class="pricing-list">
                     <li>Ut eu lectus consequat.</li>
                     <li>Aenean a neque.</li>
                     <li class="pricing-features-item disable">
                        Aenean lacinia porttitor.
                     </li>
                     <li class="pricing-features-item disable">
                        Unknown printer took
                     </li>
                     <li class="pricing-features-item disable">
                        Embarrassing hidden
                     </li>
                  </ul>
                  <a class="button" href="#" role="button">Choose Plan</a>
               </div>
            </div>
         </div>
      </div>
      <div class="scrolling-text top right default">
         <div data-bottom="transform:translatex(300px)" data-top="transform:translatex(0);">Our Pricing Plans</div>
      </div>
   </section>
   <!-- Pricing Plan End  -->
   <!-- Project Start -->
   <section class="iq-project">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 col-md-12 text-center">
               <img src="{% static 'images/project/02.png' %}" class="img-fluid w-75" alt="#">
               <div class="iq-objects-style-1">
                  <span class="iq-objects-01" data-bottom="transform:translatey(-50px)" data-top="transform:translatey(-50px);">
                  <img src="{% static 'images/effect/01.jpg' %}" alt="drive02">
                  </span>
                  <span class="iq-objects-02" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
                  <img src="{% static 'images/effect/02.jpg' %}" alt="drive02">
                  </span>
                  <span class="iq-objects-03" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                  <img src="{% static 'images/effect/03.jpg' %}" alt="drive02">
                  </span>
               </div>
            </div>
            <div class="col-lg-6 col-md-12">
               <div class="title-box  text-left">
                  <span class="text-warning">Master Stroke</span>
                  <h2 class="title">Project &amp; Strategy Planning</h2>
                  <p class="mb-0"></p>
               </div>
               
            </div>
         </div>
      </div>
   </section>
   <!-- Project End -->
   <!-- Our Clients -->
   <section id="our-clients" class="our-clients gray-bg">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="title-box text-center">
                  <span class="text-warning">They Trust Us</span>
                  <h2 class="title">our clients</h2>
                  <p class="mb-0">Simply dummy has been the industry's standard dummy text.</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12 col-md-12">
               <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="4" data-items-laptop="3" data-items-tab="3" data-items-mobile="2" data-items-mobile-sm="1" data-margin="15">
                  <div class="item">
                     <div class="clients-box">
                        <img class="img-fluid client-img" src="{% static 'images/clients/01.png' %}" alt="#">
                     </div>
                  </div>
                  <div class="item">
                     <div class="clients-box">
                        <img class="img-fluid client-img" src="{% static 'images/clients/02.png' %}" alt="#">
                     </div>
                  </div>
                  <div class="item">
                     <div class="clients-box">
                        <img class="img-fluid client-img" src="{% static 'images/clients/03.png' %}" alt="#">
                     </div>
                  </div>
                  <div class="item">
                     <div class="clients-box">
                        <img class="img-fluid client-img" src="{% static 'images/clients/04.png' %}" alt="#">
                     </div>
                  </div>
                  <div class="item">
                     <div class="clients-box">
                        <img class="img-fluid client-img" src="{% static 'images/clients/05.png' %}" alt="#">
                     </div>
                  </div>
                  <div class="item">
                     <div class="clients-box">
                        <img class="img-fluid client-img" src="{% static 'images/clients/06.png' %}" alt="#">
                     </div>
                  </div>
                  <div class="item">
                     <div class="clients-box">
                        <img class="img-fluid client-img" src="{% static 'images/clients/07.png' %}" alt="#">
                     </div>
                  </div>
                  <div class="item">
                     <div class="clients-box">
                        <img class="img-fluid client-img" src="{% static 'images/clients/08.png' %}" alt="#">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="scrolling-text top left default">
         <div data-bottom="transform:translatex(-300px)" data-top="transform:translatex(0);">Our Clients</div>
      </div>
   </section>
   <!-- Our Clients End-->
   <!-- Our Blog Start -->
   <section id="our-blog" class="blog">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="title-box text-center">
                  <span class="text-warning">BizBag Blog</span>
                  <h2 class="title">Trending Topics Blog</h2>
                  <p class="mb-0">It is a long established fact that a reader will be distracted</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12 col-md-12">
               <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30">
                  <div class="item">
                     <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                           <img src="{% static 'images/blog/01.jpg' %}" class="img-fluid center-block" alt="blogimage0">
                           <ul class="iq-blogtag">
                              <li><a href="#">Technology</a></li>
                           </ul>
                        </div>
                        <div class="iq-blog-detail">
                           <div class="iq-blog-meta">
                              <ul>
                                 <li class="list-inline-item">
                                    <a href="#" class="main-color" rel="bookmark">May 18, 2019</a>
                                 </li>
                              </ul>
                           </div>
                           <div class="blog-title">
                              <a href="two-column-blog.html">
                                 <h5>Construction industry</h5>
                              </a>
                           </div>
                           <p>They bring to you a host of created infographics that contain the latest digital marketing </p>
                           <a class="btn-link" href="right-sidebar-blog.html">Read More<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                           <img src="{% static 'images/blog/02.jpg' %}" class="img-fluid center-block" alt="blogimage1">
                           <ul class="iq-blogtag">
                              <li><a href="#">Business</a></li>
                           </ul>
                        </div>
                        <div class="iq-blog-detail">
                           <div class="iq-blog-meta">
                              <ul>
                                 <li class="list-inline-item">
                                    <a href="#" class="main-color" rel="bookmark">May 18, 2019</a>
                                 </li>
                              </ul>
                           </div>
                           <div class="blog-title">
                              <a href="two-column-blog.html">
                                 <h5>Life Lack Meaning</h5>
                              </a>
                           </div>
                           <p>If you are keen on knowing new things about the digital marketing industry then Marketing Land.</p>
                           <a class="btn-link" href="right-sidebar-blog.html">Read More<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                           <img src="{% static 'images/blog/03.jpg' %}" class="img-fluid center-block" alt="blogimage2">
                           <ul class="iq-blogtag">
                              <li><a href="#">Design</a></li>
                           </ul>
                        </div>
                        <div class="iq-blog-detail">
                           <div class="iq-blog-meta">
                              <ul>
                                 <li class="list-inline-item">
                                    <a href="#" class="main-color" rel="bookmark">May 18, 2019</a>
                                 </li>
                              </ul>
                           </div>
                           <div class="blog-title">
                              <a href="two-column-blog.html">
                                 <h5>Content Marketing</h5>
                              </a>
                           </div>
                           <p>Content Marketing  offers some of the best advice around in terms of how content can help your brand.</p>
                           <a class="btn-link" href="right-sidebar-blog.html">Read More<i class="fa fa-angle-right"  aria-hidden="true"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="scrolling-text bottam left default">
         <div data-bottom="transform:translatex(-300px)" data-top="transform:translatex(0);">Our Latest Blog</div>
      </div>
   </section>
   <!--Our Blog End -->
   {% include 'components/newsletter.html' %}
</div>
<!-- Main-Content End -->
{% endblock %}